*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
    background-color: #FFF5E4;
}

header .navbar-expand-lg{
    background-color: #FED1DF !important;
}

/* logo  */
.LOGO{
    height:5rem;
    width:10rem;
    object-fit: contain;
}

/* link item  */
#linkItem{
    font-weight: bold;
    font-size:1.5rem;
    margin-right:3rem !important;
}

/* color of nav link  */
#linkItem a{
    color: black !important;
}

/* for nav hover  */
.nav-item:hover{
    background-color: #FFF5E4 !important;
}

/* header  */
h1{
    text-align: center;
}

.card{
height: 750px  !important;
}